.carousel-container {
  flex: 0 0 30%;

  @media only screen and (max-width: 57em) {
    flex: 0 0 80%;
  }

  .status {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    background-color: #ff7f00;
    color: #fff;
    padding: 1rem 0;
  }
}
